body {
  background: #00131a;
}

.navbar {
  background: #9d9d9d;
}

.nav-item {
  margin: 10px;
}

.logo {
  margin: 0 auto;
}

.banner {
  padding-top: 96px;
}

.phone {
  margin-top: -50px;
  float: left;
  display: inline-block;
}

.button {
  margin: 0 auto;
}

.content {
  text-align: center;
}

.text-content {
  margin-top: 100px;
  z-index: 1;
}

.button-obter {
  margin: 50px;
  height: 90px;
  width: 50%;
  border-radius: 20px;
}
