body {
  background: #00131a;
}

.navbar {
  background: #9d9d9d;
}

.nav-item {
  margin: 10px;
}

.logo {
  margin: 0 auto;
}

.banner {
  padding-top: 96px;
}

.phone {
  margin-top: -50px;
  float: left;
  display: inline-block;
}

.button {
  margin: 0 auto;
}

.content {
  text-align: center;
}

.text-content {
  margin-top: 100px;
  z-index: 1;
}

.button-obter {
  margin: 50px;
  height: 90px;
  width: 50%;
  border-radius: 20px;
}

.login {
  float: left;
  margin-top: 10%;
  width: 30%;
  margin-left: 50px;
}

.login-title {
  margin-bottom: 40px;
}

.form-control {
  width: 110%;
}

.remember-password {
  margin-top: 10px;
  margin-bottom: 50px;
}

.notebook-login {
  z-index: 1;
  margin-top: 10%;
  text-align: center;
}
